// Colors

$orange: #FF6C05;
$blue: #292C65;
$light-blue-text: #A9ABC1;
$black-heading: #26262C;
// Fonts 

$noto: 'Noto Sans', sans-serif;
$spectral: 'Spectral', serif;

// Widths

$max-container-width: 1240px;


// Breakpoints

$large-desktop-width: 1750px;
$desktop-width: 1470px;
$laptop-width: 1200px;
$tablet-width: 1024px;
$small-tablet-width: 968px;
$mobile-width: 768px;
$small-mobile-width: 576px;
$supersmall-mobile-width: 360px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;



